* , ::before , ::after
{
margin: 0;
padding: 0;

}

.background-image{
    background-image: url(car.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    /* display: flex; */
  

}

.logo{
    display: flex;
    margin-top: .4em;
    margin-right: .3em;
}
.navbar{
    margin-left: .4em;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    

    

}
.ul1{
   
    border-radius: 9px;
    background-color: rgba(7, 3, 17, 0.199);   
    /* margin-left: 1em; */
    text-align: center;
    align-items: center;
}
ul{
  /* max-width: 100%; */
  display: flex;  
  text-decoration: none;
  list-style: none;
  /* margin:1em; */
  margin-top: .4em;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  
   

}

a{    
    padding: 1em 1.5em;
    text-decoration: none;
    color: white;
    font-size: 1.6rem;
    font-weight: bold;
}
.Highlight{
    background-color: rgba(33, 33, 156, 0.582);
    border-radius: 10px;
    
}
.container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
}
.container-nav{
    display: flex;
    /* flex-direction: ; */
}
.heading{
    text-align: center;
    color: rgba(255, 0, 0, 0.603);
    font-size: 4rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    margin: 2.8em auto;
    text-shadow: 4px 0px #c0a295;
    color:#fcddcf;
    /* background: -webkit-linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);  Chrome 10-25, Safari 5.1-6 */
    /* background: linear-gradient(to right, #FDB99B, #CF8BF3, #A770EF);W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    /* #CF8BF3, #A770EF;  fallback for old browsers */
    
}
.row{
    display: flex;


}
footer{
    width: 90%;
    margin: 0 auto;
}
.footer, li { 

     text-align: center;
     margin: 0 auto;
}
.footer a{
    padding: 0;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bolder;
}
a:hover{
    background-color: rgba(145, 123, 201, 0.411); 
    border: 1px solid blanchedalmond;
    border-radius: 7px;
}