*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

div{
    width: 50%;
}
.image1{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: content-box;
    background-color: black;
}

img{

    width: 50%;
}
._1{
    max-width: 1fr 1fr 1fr;
    background-size: cover;
}